<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Clothing</title>
</head>

<body>
    <h1>Add Clothing</h1>
    <form method="post" th:action="@{/addclothing}" th:object="${clothing}">
        <p>Type:
            <select th:field="*{type}">
                <option th:each="type : ${T(sprint1.sprint1.domain.Type).values()}" th:value="${type}" th:text="${type}"></option>
            </select>
        </p>
        <p>Color:<input type="text" th:field="*{color}" placeholder="Color" /></p>
        <p>Price:<input type="text" th:field="*{price}" placeholder="Price" /></p>
        <p>Size:
            <select th:field="*{size}">
                <option th:each="size : ${T(sprint1.sprint1.domain.Size).values()}" th:value="${size}" th:text="${size}"></option>
            </select>
        </p>
        <p>Manufacturer:
            <select th:field="*{manufacturer}">
                <option th:each="manufacturer : ${manufacturers}" th:value="${manufacturer.manufacturerId}" th:text="${manufacturer.name}"></option>
            </select>
        </p>
        <p><button type="submit">Add</button></p>
    </form>

</body>

</html>