<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head><title>Add Product</title></head>
<body>

<h2>Add New Product</h2>

<form action="#" th:action="@{${formAction}}" th:object="${product}" method="post">
    <p>Name:<input type="text" th:field="*{name}" placeholder="Name" /></p>
    <p th:if="${#fields.hasErrors('name')}" class="error" th:errors="*{name}"></p>
    <p>Price:<input type="number" step="0.01" th:field="*{price}" placeholder="Price" /></p>
    <p th:if="${#fields.hasErrors('price')}" class="error" th:errors="*{price}"></p>
    <p>Manufacturer:
        <select th:field="*{manufacturer}">
            <option th:each="manufacturer : ${manufacturers}" th:value="${manufacturer.manufacturerId}"
            th:text="${manufacturer.name}"></option>
        </select>
    </p>

    <!-- CLOTHING -->
    <div th:if="${productType == T(sprint1.sprint1.domain.Type).CLOTHING}">
        <p>
            Color:<input type="text" th:field="*{color}" placeholder="Color" />
        </p>
        <p th:if="${#fields.hasErrors('color')}" class="error" th:errors="*{color}"></p>
    
        <p th:if="${product instanceof T(sprint1.sprint1.domain.ClothingItem)}">Size:
            <select th:field="*{size}">
                <option th:each="size : ${T(sprint1.sprint1.domain.ClothingSize).values()}"
                        th:value="${size}"
                        th:text="${size}"></option>
            </select>
        </p>
    </div>

    <!-- TOY -->
    <div th:if="${productType == T(sprint1.sprint1.domain.Type).TOY}">
        <p>Material:<input type="text" th:field="*{material}" placeholder="Material" /></p>
        <p th:if="${#fields.hasErrors('material')}" class="error" th:errors="*{material}"></p>
    </div>

    <!-- FOOD -->
    <div th:if="${productType == T(sprint1.sprint1.domain.Type).FOOD}">
        <p>Flavor:<input type="text" th:field="*{flavor}" placeholder="Flavor" /></p>
        <p th:if="${#fields.hasErrors('flavor')}" class="error" th:errors="*{flavor}"></p>
    </div>

    <button type="submit">Save</button>
</form>

</body>
</html>