<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Toy</title>
</head>

<body>
    <h1>Add Toy</h1>
    <form method="post" th:action="@{/addtoy}" th:object="${toy}">
        <p>Name:<input type="text" th:field="*{name}" placeholder="Name" /></p>
        <p>Price:<input type="text" th:field="*{price}" placeholder="Price" /></p>
        <p>Manufacturer:
            <select th:field="*{manufacturer}">
                <option th:each="manufacturer : ${manufacturers}" th:value="${manufacturer.manufacturerId}" th:text="${manufacturer.name}"></option>
            </select>
        </p>
        <p>Material:<input type="text" th:field="*{material}" placeholder="Material" /></p>
        <p><button type="submit">Add</button></p>
    </form>

</body>

</html>