<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clothing List</title>
</head>
<body>
    <h1>Clothing Items</h1>
    <br>
    <table>
        <thead>
            <th>Type</th>
            <th>Color</th>
            <th>Size</th>
            <th>Price</th>
            <th>Manufacturer</th>
        </thead>
        <tbody>
            <tr th:each="clothing : ${clothings}">
                <td th:text="${clothing.type}"></td>
                <td th:text="${clothing.color}"></td>
                <td th:text="${clothing.size}"></td>
                <td th:text="${clothing.price}"></td>
                <td th:text="${clothing.manufacturer != null ? clothing.manufacturer.name : 'Unknown Manufactorer'}"></td>
            </tr>
        </tbody>
    </table>
    
</body>
</html>