<!DOCTYPE html>
<html lang="fi" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin pääsivu</title>
    <link rel="stylesheet" th:href="@{/css/index.css}">
</head>

<body>
    <div class="container">
        <h1>Admin page</h1>
        <table>
            <thead>
                <tr>
                    <th><a href="/productlist"><button>View all available products</button></a>
                    </th>
                    <th><a href="/manufacturerlist"><button>View all manufacturers</button></a>
                    </th>
                </tr>
            </thead>
        </table>
    </div>
</body>

</html>