<!DOCTYPE html>
<html lang="fi" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin pääsivu</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js">
    </script>
</head>

<body class="bg-light">
    <section class="vh-100" style="background-color: #9A616D;">
        <div class="container py-3 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col col-xl-7">
                    <div class="card" style="border-radius: 1rem;">
                        <div class="row g-0">
                            <div class="col-md-6 col-lg-7 d-flex align-items-center">
                                <div class="card-body p-4 p-lg-5 text-black">
                                    <h1>Admin page</h1>
                                    <div class="pt-1 mb-4">
                                        <form th:action="@{/productlist}">
                                            <button data-mdb-button-init data-mdb-ripple-init
                                                class="btn btn-outline-dark btn-lg btn-block mb-3">
                                                View products
                                            </button>
                                        </form>

                                        <form th:action="@{/manufacturerlist}">
                                            <button data-mdb-button-init data-mdb-ripple-init
                                                class="btn btn-outline-dark btn-lg btn-block mb-3">
                                                View manufacturers
                                            </button>
                                        </form>

                                        <form th:action="@{/userlist}">
                                            <button data-mdb-button-init data-mdb-ripple-init
                                                class="btn btn-outline-dark btn-lg btn-block mb-3">
                                                View users
                                            </button>
                                        </form>
                                        <form th:action="@{/orderlist}">
                                            <button data-mdb-button-init data-mdb-ripple-init
                                                class="btn btn-outline-dark btn-lg btn-block mb-3">
                                                View orders
                                            </button>
                                        </form>
                                        <form th:action="@{/logout}" method="post">
                                            <button data-mdb-button-init data-mdb-ripple-init
                                                class="btn btn-danger btn-lg btn-block" type="submit">
                                                Logout
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-5 d-flex justify-content-center align-items-center">
                                <img class="img-fluid h-auto" th:src="@{images/paw.png}" alt="logo"
                                    style="object-fit: cover; border-radius: 1rem 0 0 1rem; max-width: 100%; height: auto;" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</body>

</html>